@import "./vars.scss";

* {
  color: $color-primary
}

.btn {
  padding: 7px;
  border: 0;
  border-radius: 5px;
  background-color: $color-secondary;
  color: $background-primary;
}
nput:not([type]), input[type="email"], input[type="number" ], input[type="password"], input[type="tel" ], input[type="url" ], input[type="text" ], textarea {
  background-color: $background-secondary;
  border: 2px solid $color-secondary;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

}
::-webkit-input-placeholder,
:-moz-placeholder, 
::-moz-placeholder, 
:-ms-input-placeholder, {
  color: $color-accent;
}

html, body {
  background-color: $background-primary;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $background-secondary;
  height: 50px;
  padding: 20px;
  color: $color-primary;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
