
// Colors
$color-primary: #031634;
$color-secondary: #033649;
$background-primary: #e8ddcb;
$background-secondary: #cdb380;
$color-accent: #036564;

// From http://www.colourlovers.com/palette/292482/Terra?widths=0